## Deep Learning  CNN

In [1]:
# importing function 
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import datasets, layers, models

In [7]:
df = pd.read_csv("train_data.csv")
# training data without labels
labels = np.array(df['Label'])
df = df.drop(['Label','Return-Path','Message-ID','From','Reply-To','To','Subject','Date','X-Mailer','MIME-Version','Content-Type','X-Priority','X-MSMail-Priority','Status','Content-Length','Content-Transfer-Encoding','Lines'], axis = 1)
df

,special_characters_exists_subject,number_of_words_subject,number_of_capitalized_words_subject,number_of_capitalized_characters_subject,number_of_digits_subject,number_of_characters_subject,number_of_spaces_subject,number_of_special_characters_subject,number_of_single_Quotes_subject,number_of_semiColon_subject,ratio_of_uppercase/lowercase_words,Total_number_of_upperCase,Max_word_length_in_subject
0,1,7,0,3,0,34,6,3,0.0,0,0.0,0,9
1,0,2,0,1,0,2,1,0,0.0,0,0.0,0,2
2,1,13,0,1,0,55,12,1,0.0,0,0.0,0,10
3,1,6,0,12,0,42,5,2,0.0,0,0.0,0,15
4,1,7,0,4,0,21,6,2,0.0,0,0.0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43670,0,4,0,0,0,16,3,0,0.0,0,0.0,0,7
43671,0,2,1,2,0,2,1,0,0.0,0,1.0,1,2
43672,0,3,1,4,0,9,2,0,0.0,0,0.5,1,6
43673,1,12,0,1,2,44,11,1,0.0,0,0.0,0,10
43674,0,4,0,1,0,21,3,0,0.0,0,0.0,0,11