# Training the data

## Building a Random Forest model

In [34]:
import nltk
import pandas as pd
import re
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold, cross_val_score

In [35]:
# original training data
train = pd.read_csv("train_data.csv",dtype='unicode')

# training data without labels
t = pd.read_csv("train_data.csv",dtype='unicode')
labels = np.array(t['Label'])
t = t.drop(['Label','Return-Path','Message-ID','From','Reply-To','To','Subject','Date','X-Mailer','MIME-Version','Content-Type','X-Priority','X-MSMail-Priority','Status','Content-Length','Content-Transfer-Encoding','Lines'], axis = 1)

# get all the features
feature_list = list(t.columns)
features = np.array(t)

In [36]:
t

,number_of_special_characters_subject,number_of_words_subject,number_of_capitalized_words_subject,number_of_capitalized_characters_subject,number_of_digits_subject,number_of_characters_subject
0,0,3,1,4,0,9
1,0,9,1,5,0,15
2,0,4,0,1,0,15
3,3,5,1,2,3,9
4,0,5,0,0,0,17
...,...,...,...,...,...,...
43670,0,3,0,0,0,9
43671,0,4,0,1,0,11
43672,0,6,0,1,0,26
43673,0,3,0,1,0,9
43674,0,5,0,1,0,16

### training the data

In [37]:
rf = RandomForestClassifier(n_jobs=-1)
k_fold = KFold(n_splits=5)
cross_val_score(rf, features, train['Label'], cv=k_fold, scoring='accuracy', n_jobs=-1)

array([0.89605037, 0.89192902, 0.89742416, 0.89295936, 0.895249  ])